---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import SectionContainer from '../components/SectionContainer.astro';
import LinkedInIcon from '../components/icons/LinkedIn.astro';
import GitHubIcon from '../components/icons/GitHub.astro';
import EmailIcon from '../components/icons/Email.astro';
import LaptopIcon from '../components/icons/Laptop.astro';
import CodeIcon from '../components/icons/Code.astro';
import SocialPill from '../components/SocialPill.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
---

<Layout 
	title="Portfolio - Juan Manuel Alvarez - Desarrollador y Programador Web"
	description="Contrata a Juan Manuel Alvarez como Desarrollador y Programador Web."
>
	<main class="px-2">

		<SectionContainer class="py-44 pb-12">

			<img src="/public/Foto Hoja de Vida.jpeg" alt="JuanMa photo" class="rounded-full size-12 mb-4">

		<h1 class="text-xl md:text-3xl lg:text-5xl font-bold flex flex-row gap-5 pb-6 lg:pb-10 gap-x-4">
			Hey, I'm Juan Manuel Alvarez


				<a href="https://www.linkedin.com/in/juanmanuelalvarezb/" target="_blank" rel="noopener" class="flex justify-center items-center">
					<Badge>
						Open to work
					</Badge>
				</a>
	
		</h1>

		<h2 class="text-xl lg:text-2xl opacity-80 text-wrap max-w-[800px]">
			Full Stack Developer con formación como Desarrollador Web.
			Experiencia trabajando en NodeJS, React, Redux, Mongo, Express, PostgreSQL y diversos frameworks, entre otras tecnologías del sector, además de metodologías ágiles. 
			Participé en la creación de un E-commerce para el diseño y compra de remeras estampadas, y otros proyectos. 
			Con pensamiento creativo, resolución de problemas, trabajo en equipo, comunicación, liderazgo y autonomía. 
		</h2>

		<nav class="flex gap-4 mt-10 flex-wrap">
		
			<SocialPill href="https://www.linkedin.com/in/juanmanuelalvarezb/">
				<LinkedInIcon class="size-4 md:size-6" />
				LinkedIn
			</SocialPill>
		
			<SocialPill href="https://github.com/Sirio2022">
				<GitHubIcon class="size-4 md:size-6" />
				GitHub
			</SocialPill>

			<SocialPill href="mailto:jalvar49@eafit.edu.co">
				<EmailIcon class="size-4 md:size-6" />
				jalvar49@eafit.edu.co
			</SocialPill>
					

		</nav>
		</SectionContainer>

		<SectionContainer id="experience">
			<h2 class="text-3xl font-bold mb-6 flex gap-2 items-center ">
				Experiencia
				<LaptopIcon class="size-6 md:size-8" />
			</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="proyects">
			<h2 class="text-3xl font-bold mb-6 flex gap-2 items-center ">
				Proyectos
				<CodeIcon class="size-8" />
			</h2>
			<Projects />
		</SectionContainer>
	</main>
</Layout>

