---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Juan Manuel Alvarez - Portfolio">
	<main>

		<section class="w-full lg:w-[840px] mx-auto py-44">
		<h1 class="text-5xl font-bold flex flex-row gap-5 pb-6 gap-x-4">
			Hey, I'm Juan Manuel Alvarez


				<a href="https://www.linkedin.com/in/juanmanuelalvarezb/" target="_blank" rel="noopener" class="flex justify-center items-center">
					<Badge>
						Open to work
					</Badge>
				</a>
	
		</h1>

		<h2 class="text-xl opacity-80">
			I'm a software developer from Medellín Colombia. I love to build things for the web.
		</h2>

		<ul>

		</ul>
		</section>
	</main>
</Layout>

