---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Juan Manuel Alvarez - Portfolio">
	<main>

		<section class="w-full lg:w-[840px] mx-auto py-44">
		<h1 class="text-5xl font-bold flex flex-row justify-center gap-5">
			Hey, I'm Juan Manuel Alvarez

			<div class="flex justify-center items-center">
				<Badge>
					Open to work
				</Badge>
			</div>
		</h1>

		<h2>
			I'm a software developer from Medellín Colombia, I love to build things for the web.
		</h2>

		<ul>

		</ul>
		</section>
	</main>
</Layout>

