---

import ExperienceItem from './ExperienceItem.astro'

const EXPERIENCE = [
    {
        date: 'Octubre 2022',
        title: 'Full Stack Web Developer – UpTask-MERN',
        description: 'Diseñar y desarrollar una App que gestiona proyectos esta incluye: búsquedas, filtrados, ordenamientos. Para esta APP use el MERN Stack con TailWindCSS, Headless UI, Context API, Socket IO. Para el Frontend y Backend MongoDB – NodeJS.',
        link: 'https://up-task-redux-frontend.vercel.app/',
        },
        {
        date: 'Diciembre 2022',
        title: 'Diseñar y desarrollar una App de E-commerce que incluye: búsquedas, filtrados, ordenamientos y creación.  Desarrollar la app usando para el Front React, Redux Toolkit, Tailwind, cloudinary, Javascript y Back desarrollado en Node.js con Express. Base de datos en Mongo y Mongoose.',
        description: 'Diseñar y desarrollar una App de E-commerce que incluye: búsquedas, filtrados, ordenamientos y creación. ',
        link: 'https://github.com/Sirio2022/amazona',
        },
        {
        date: 'April 2022',
        title: 'Criptomonedas-React',
        description: 'Este proyecto consume la API de CryptoCompare, validación, state, e incluye styled components y custom hooks.  Desarrollar la app usando para el Front React, Redux Toolkit, Tailwind, cloudinary, Javascript y Back desarrollado en Node.js con Express. Base de datos en Mongo y Mongoose.',
        link: 'https://tourmaline-sprite-a64212.netlify.app/',
        },
]
    

---


<ol class="relative border-s border-gray-200 dark:border-gray-700">    
    
    {
        EXPERIENCE.map(experience => (
        <li class="mb-10 ms-4">
            <ExperienceItem {...experience} />   
        </li>
        ))
    }



 
</ol>

